.header {
    height: 97vh;
    background-image: url(../img/roadback.jpg); 
    background-size: cover;
    background-position: top;
    position: relative;
    


    
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 2rem;
        font-weight: 100;
        letter-spacing: .5rem;
    
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    
        /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */
    }
    
    &--sub {
        display: block;
        font-size: 1.6rem;
        font-weight: 70;
        letter-spacing: .5rem;
        animation: moveInRight 1s ease-out;
    }
}